@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Oswald&display=swap&subset=cyrillic')
body
  font-family: 'Montserrat', sans-serif

.wrap-app
  display: grid
  grid-template-columns: 2fr 10fr
  grid-template-rows: 47px 1fr
  grid-template-areas: 'header header' 'navbar page'
  grid-gap: 5px
  width: 100%
  overflow: hidden
.wrap-pages
  grid-area: page
  background-color: #f6f4f5
  color: #1c2c1e
.padding
  padding-left: 100px
  padding-right: 100px
